/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF4ED;
}

h1, h4, h2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.bg_acqua_clr{
    background-color: #058283;
    border-radius: 5px;
}

.acqua_clr{
    color: #058283;
}

.acqua_light_clr{
    background-color: #CCE3DE;
}

.grey_clr{
    color: #909298;
}

.radius_15{
    border-radius: 15px;
}

.icon_bg{
    background-color: #CCE3DE;
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 10px;
}
/* fine generali */

/* header */

.nav_top{
    height: 50px;
    background-color: #21333E;
}

.nav_top a{
   color: #BBC3D0;
   margin-right: 15px;
}

.jumbo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/jumbo.jpg');
    height: 800px;
    background-size: cover;    
}

.nav_bottom{
    height: 80px;
}

.nav_bottom ul{
    list-style: none;
    text-decoration: none;
    display: -webkit-inline-box;
}

.nav_bottom a {
    color: #BBC3D0;
    margin-right: 15px;
}

.nav_bottom img{
    height: 50px;
}

/* box titolo */

.box_title{
    width: 40%;
    height: 700px;
}

.box_title h1{
    font-size: 5rem;
    color: white;
    z-index: 10;
}

.box_title h5{
    color: #BEC1CE;
    font-size: 1.6rem;
}

#btn_transparent {
    background-color: transparent;
    border-color: #058283;
}

/* main */

.mini-box {
    margin-top: 30px;
    width: 30%;
}

.mini-box h2{
    font-size: 3rem;
}

.mini-box p{
    color: #909298;
    font-size: 1.2rem;
}

.mini-box img{
   width: 100%;   
}

/* company */

.company .col-6{
    height: 800px;
}

.company_box{
    background-color: #111117;
    padding-left: 20%;
}

.company_box p{
    color: #909298;
    font-size: 1.2rem;
}

.company_box .circle{
   height: 130px;
   border-color: #909298;
   border: solid 10px;
   border-radius: 100px;
}

.stick_{
    position: absolute;
    bottom: 130px;
    border-top: solid 5px #058283;
    width: 10px;
}

.img_section{
    background-image: url('../img/about-5.jpg');
    background-size: cover;
}

/* partners area */

.partners_area{
    height: 200px;
}

.partners_area .col-2{
    display: contents;
}

.partners_area img{
    height: 30px;
}

/* slider */

.slider{
    height: 700px;
    background-color: #fff;
}

.slider li{
    background-color: #058283;
}

.slider .carousel-indicators{
    bottom: -35px;
}

.slider .mini-box{
    margin: 19px 19px;
}

.slider .text_position{
    bottom: 20%;
    width: 30%;
    padding: 0 20px;
}

.slider h4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    padding: 3px;
}

/* newsletter */

.newsletter{
    height: 500px;
    background-image: url('../img/bg-1.jpg');
    background-size: cover;
}

.newsletter input{
    width: 70%;
    background-color: lightgray;
    opacity: 0.5;
    border-radius: 5px;
}

/* message */

.message{
    height: 700px;
    background-color: #fff;
}

.message input{
    width: 40%;
}

#disabledSelect{
    width: 40%;    
}

#exampleFormControlTextarea1 {
    width: 82%;
    height: 120px;
}

.message a:hover {
    color: #909298;
}

/* footer */

.footer_top{
    height: 700px;
    background-image: url('../img/bg-10.jpg');
    background-size: cover;
}

.footer_top .col-3 {
    height: 400px;
    width: auto;
}

.footer_top img {
    height: 50px;
}

.footer_top .opacity{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

    transition: .5s;
}

.opacity:hover{
    transform: scale(1.1);
}

.footer_top ul{
    list-style: none;
    text-decoration: none;    
}
.footer_top a:hover{
   color: #058283;
}

.footer_bottom{
    height: 50px;
    background-color: #111117;
}