/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF4ED;
}

h1{
    font-family: 'Inter', sans-serif;
}

.space_btw{
    justify-content: space-between
}

.bg_acqua_clr{
    background-color: #058283;
}

.acqua_clr{
    color: #058283;
}

.acqua_light_clr{
    background-color: #CCE3DE;
}

.radius_15{
    border-radius: 15px;
}

/* fine generali */

/* header */

.nav_top{
    height: 50px;
    background-color: #21333E;
    
    display: flex;
    align-items: center;
}

.nav_top a{
   color: #BBC3D0;
   margin-right: 15px;
}

.jumbo{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/jumbo.jpg');
    height: 800px;
    background-size: cover;    
}

.nav_bottom{
    height: 80px;
    
    display: flex;
    align-items: center;

    /* border: solid 2px red; */
}

.nav_bottom ul{
    list-style: none;
    text-decoration: none;
    display: -webkit-inline-box;
}

.nav_bottom a {
    color: #BBC3D0;
    margin-right: 15px;
}

.nav_bottom img{
    height: 50px;
}

.vue_nav{
    align-self: center;
}

/* box titolo */

.position_box{
    display: flex;
    justify-content: flex-end;
}

.box_title{
    width: 40%;
    height: 700px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: solid 2px blue; */
}

.box_title h1{
    font-size: 5rem;
    color: white;
}

.box_title h5{
    color: #BEC1CE;
    font-size: 1.6rem;
}

#btn_transparent {
    background-color: transparent;
    border-color: #058283;
}

/* main */

.mini-box {
    margin-top: 30px;
    width: 30%;
    
    /* border: solid 2px pink; */
}

.mini-box h2{
    font-size: 3rem;
}

.mini-box p{
    color: #909298;
    font-size: 1.2rem;
}

.mini-box img{
   width: 100%;   
}

/* company */

.col-6{
    height: 800px;
}

.company_box{
    background-color: #111117;
    padding-left: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.company_box p{
    color: #909298;
    font-size: 1.2rem;
}

.company_box .circle{
   height: 100px;
   width: 100px;
   border-color: #909298;
   border: solid 10px;
   border-radius: 60px;
  
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.img_section{
    background-image: url('../img/about-5.jpg');
    background-size: cover;
}

/* partners area */

.partners_area{
    height: 200px;
    background-color: #EEF4ED;

    display: flex;
    align-items: center;
}

.partners_area .col-2{
    display: contents;
}

.partners_area img{
    height: 30px;
}