/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* header */

.nav_top{
    height: 50px;
    background-color: #21333E;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_top a{
   color: #BBC3D0;
   margin-right: 15px;
}

.nav_top .row{
    justify-content: space-between;
}

.jumbo{
    background-image: url('../img/jumbo.jpg');
    height: 900px;
    background-size: cover;
    /* opacity: 1; */
    
}

/* .layover{
    
    background-color: rgba(0, 0, 0, 0.5);

} */


.nav_bottom{
    height: 80px;
    border: solid 2px red;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_bottom a {
    color: #BBC3D0;
    margin-right: 15px;
}

.nav_bottom .row {
    justify-content: space-between;
}

.nav_bottom img{
    height: 50px;
}

.vue_nav{
    align-self: center;
}

.jumbo button{
background-color: #058283;
padding: 5px 20px;
}

/* box titolo */

.position_box{
    display: flex;
    justify-content: flex-end;
}

.box_title{
    border: solid 2px blue;
    width: 40%;
    height: 700px;
}

.box_title h1{
    font-size: 5rem;
    color: white;
}

